/*makes all images similiar size*/
img {
  max-width: 250px;
  max-height: 250px;
}
/*bolds link text*/
a {
  font-weight: bold;
}
/*background color for each animal type*/
section {
  background-color: rgb(226, 226, 191);
}
/*center and background color for main header*/
h1 {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
/*aligns lists to left side of screen*/
ul {
  padding: 0%;
  list-style: inside;
}
